<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Conta</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" 
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" 
        crossorigin="anonymous">

        <link rel="stylesheet" href="/css/cores.css">
    </head>

    <body class="corFundo centralizado">
        <header>
            <nav class="corPrimaria centralizado row"> 
                <div class="col-4 p-2" style="max-height: 50%;">
                    <a href="/Catalogo" class="corFonte">Catálogo</a> 
                </div>
                <div class="col-4 p-2" style="max-height: 50%;">
                    <a href="/MeusJogos" class="corFonte">Meus jogos</a> 
                </div>
                <div class="col-4 p-2" style="max-height: 50%;">
                    <a href="/Conta" class="corFonte" style="font-weight: bold;">Conta</a> 
                </div>
            </nav> 
        </header>

        <div class="container corSecundaria p-4 centralizado" style="margin-top: 1vw;">
            <div class="row" style="min-height: 35vw;">
                <div class="col-3 p-2 corTerciaria" style="border: 1px solid black;">
                    <button class="btn btn-secondary w-75 my-2 corTerciaria" style="border-color: rgb(93, 91, 99);">Atualizar conta</button>
                    <button class="btn btn-secondary w-75 my-2 corTerciaria" style="border-color: rgb(93, 91, 99);;">Meu carrinho</button>
                    <button class="btn btn-secondary w-75 my-2 corTerciaria" style="border-color: rgb(93, 91, 99);;">Criador de jogos</button>
                    <button class="btn btn-secondary w-75 my-2 corTerciaria" style="border-color: rgb(93, 91, 99);;">Administrador</button>
                    <a href="/" class="btn btn-secondary w-75 my-2 corTerciaria" style="border-color: rgb(93, 91, 99);;">Sair</a>
                </div>
                <div class="col-9 p-2 corTerciaria" style="border: 1px solid black;">
                    
                </div>
            </div>
        </div>

        <!-- FAZER FILTRO NA TABELA -->

        <script>

        </script>
    </body>
</html>